:root {
  --primary-background-color: #000512;
  --primary-text-color: #000512;

  --background-image-color: linear-gradient(
    156deg,
    #fff 30%,
    hsla(0, 0%, 100%, 0.38)
  );
  --feature-img-background-webkit: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0.2)),
    to(hsla(0, 0%, 100%, 0))
  );
  --feature-img-background-color: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0)
  );
  --command-menu-input-border: 1px solid #ffffff;
  --command-menu-input-bg: rgba(0, 0, 0, 0.3);
  --command-menu-input-text: #fff;
  --command-menu-input-focus: 0 1px 40px 0 rgba(63, 134, 205, 0.5);
  --command-menu-option-border-right: 1px solid rgba(255, 255, 255, 0.9);
  --command-menu-option-border-left: 1px solid rgba(255, 255, 255, 0.9);
  --command-menu-option-border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  --command-menu-option-bg-color: rgba(180, 188, 208, 0.08);
  --command-menu-option-hover-bg-color: hsla(0, 0%, 100%, 0.05);
  --checkbox-label-color: #fff;
  --stars-background-filter-webkit: invert(0%);
  --stars-background-filter: invert(0%);
  --stars-bottom-bg-color: #000212;
  --text-block-color: #b4bcd0;
  --nav-link-color: rgba(180, 188, 208, 0.8);
  --nav-link-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
